/* global  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

body {
    font-size: 1.5rem;
    font-family: 'Gluten', cursive;
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(142, 235, 249);
    overflow: hidden;
}

/* ------ navigation ------ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar_items {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.navbar_items li:not(:first-child) {
    margin-left: 1.7rem;
}

.navbar_items li {
    display: inline-block;
    border-radius: 2rem;
    font-size: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_items li:hover {
    transform: scale(1.1);
}

/* Game mode Bar */
.game_bar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.timer_cn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.timer_cn span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    font-weight: 800;
    color: #18545d;
}

.timer_cn img {
    width: 3.5rem;
    height: auto;
}


.sound_cn {
    width: 4.2rem;
    height: auto;
    cursor: pointer;
    margin-left: -1rem;
}



.score_cn {
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
}

.score_cn span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    font-weight: 800;
    color: #18545d;
}

.score_cn img {
    width: 3.5rem;
    vertical-align: middle;
}

#timer,
#score {
    display: block;
}

/* pause  */

#pause-button,
#resume-button {
    color: white;
    background-color: #277d97;
    border: none;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;

}

#pause-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#pause-button:hover,
#resume-button:hover {
    transform: scale(1.1);
}


/* ----- main ----- */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-image: url('../images/backfish.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_block {
    margin-top: -9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_play {
    padding-top: 3rem;
    width: 7rem;
    cursor: pointer;
}

.btn_play:hover {
    transform: scale(1.1);
}

.main_title {
    font-family: 'Gluten', cursive;
    font-size: 6rem;
    color: rgb(85, 212, 224);
    font-weight: 800;
    -webkit-text-stroke: 1px #0b7484;
}

/* rules  */

.rules_section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.rules_section.show {
    display: flex;
}





.rules_content {
    font-family: 'Questrial', sans-serif;
    background-color: #86e4d4;
    margin: 15% auto;
    padding: 30px;
    border: 2px solid #16616e;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.rules_content--title {
    font-size: 24px;
    margin-bottom: 20px;
}

.rules_content--howtoplay {
    font-size: 18px;
    font-family: 'Questrial', sans-serif;

}


.rules_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.rules_overlay.show {
    display: block;
}


#rules-link {
    cursor: pointer;
}

#rules-link:hover {
    text-decoration: underline;
    color: #0099cc;

}

.rules_close {
    background-color: #7b1d16;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}



.rules_close:hover {
    transform: scale(1.1);
}


/* modal  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    font-family: 'Questrial', sans-serif;
    background-color: #86e4d4;
    margin: 15% auto;
    padding: 30px;
    border: 2px solid #16616e;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


#continue-button {
    background-color: #088480;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#continue-button:hover {
    transform: scale(1.1);
}

#home-button {
    background-color: #7b1d16;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#home-button:hover {
    transform: scale(1.1);
}






/* fish style  */
.fish-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.fish {
    width: 260px;
    height: 180px;
    position: absolute;
    cursor: pointer;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    display: none;
}


#fish1 {
    animation: swim1 15s linear infinite;
    background-image: url('../images/fishgame.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#fish2 {
    animation: swim2 15s linear infinite;
    background-image: url('../images/fishgame.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#fish3 {
    animation: swim3 15s linear infinite;
    background-image: url('../images/fishgame1.png');
    background-size: cover;
    background-repeat: no-repeat;
}


#fish4 {
    animation: swim4 15s linear infinite;
    background-image: url('../images/fishgame1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes swim1 {
    0% {
        transform: translateX(-90%) scaleX(1) translateY(-90%);
    }

    20% {
        transform: translateX(25vw) scaleX(1) translateY(10vh);
    }

    40% {
        transform: translateX(50vw) scaleX(1) translateY(-30vh);
    }

    60% {
        transform: translateX(25vw) scaleX(1) translateY(20vh);
    }

    80% {
        transform: translateX(-100%) scaleX(1) translateY(-40vh);
    }

    100% {
        transform: translateX(-100%) scaleX(1) translateY(30vh);
    }
}

@keyframes swim2 {
    0% {
        transform: translateX(100%) scaleX(-1) translateY(100%);
    }

    20% {
        transform: translateX(-25vw) scaleX(-1) translateY(-10vh);
    }

    40% {
        transform: translateX(-50vw) scaleX(-1) translateY(30vh);
    }

    60% {
        transform: translateX(-25vw) scaleX(-1) translateY(-20vh);
    }

    80% {
        transform: translateX(100%) scaleX(-1) translateY(40vh);
    }

    100% {
        transform: translateX(100%) scaleX(-1) translateY(-30vh);
    }
}

@keyframes swim3 {
    0% {
        transform: translateX(100%) scaleX(-1) translateY(100%);
    }

    20% {
        transform: translateX(-25vw) scaleX(-1) translateY(-10vh);
    }

    40% {
        transform: translateX(-50vw) scaleX(-1) translateY(30vh);
    }

    60% {
        transform: translateX(-25vw) scaleX(-1) translateY(-20vh);
    }

    80% {
        transform: translateX(100%) scaleX(-1) translateY(40vh);
    }

    100% {
        transform: translateX(100%) scaleX(-1) translateY(-30vh);
    }
}


@keyframes swim4 {
    0% {
        transform: translateX(-100%) scaleX(1) translateY(-100%);
    }

    20% {
        transform: translateX(25vw) scaleX(1) translateY(10vh);
    }

    40% {
        transform: translateX(50vw) scaleX(1) translateY(-30vh);
    }

    60% {
        transform: translateX(25vw) scaleX(1) translateY(20vh);
    }

    80% {
        transform: translateX(-100%) scaleX(1) translateY(-40vh);
    }

    100% {
        transform: translateX(-100%) scaleX(1) translateY(30vh);
    }
}


/* waves */
@keyframes wave {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.fish.wave {
    animation: wave 0.2s ease-in-out;
}


/* end game style  */


.end_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.end_modal-content {
    background-color: rgb(117, 215, 222);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.end_modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.end_modal p {
    font-size: 18px;
    margin-bottom: 20px;
}

#return-button {
    background-color: #26768f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#return-button:hover {
    background-color: #18545d;
}

/* Adjust styles for tablets and smaller screens */
@media screen and (max-width: 768px) {


    body {
        font-size: 1.2rem;
    }

    .navbar {
        padding: 0.5rem 1rem;
    }



    .navbar_items li:not(:first-child) {
        margin-left: 1rem;
    }

    .navbar_items img,
    .game_bar img {
        width: 3.4rem;
        height: 3.4rem;
    }

    .main_title {
        font-size: 5rem;
    }

    .btn_play img {
        width: 6rem;
    }

    .fish {
        width: 230px;
        height: 150px;
    }


    @keyframes swim1 {
        0% {
            transform: translateX(-90%) scaleX(1) translateY(-90%);
        }

        20% {
            transform: translateX(10vw) scaleX(1) translateY(10vh);
        }

        40% {
            transform: translateX(30vw) scaleX(1) translateY(-30vh);
        }

        60% {
            transform: translateX(10vw) scaleX(1) translateY(20vh);
        }

        80% {
            transform: translateX(-90%) scaleX(1) translateY(-40vh);
        }

        100% {
            transform: translateX(-90%) scaleX(1) translateY(30vh);
        }
    }

    @keyframes swim2 {
        0% {
            transform: translateX(100%) scaleX(-1) translateY(100%);
        }

        20% {
            transform: translateX(-10vw) scaleX(-1) translateY(-10vh);
        }

        40% {
            transform: translateX(-30vw) scaleX(-1) translateY(30vh);
        }

        60% {
            transform: translateX(-10vw) scaleX(-1) translateY(-20vh);
        }

        80% {
            transform: translateX(100%) scaleX(-1) translateY(40vh);
        }

        100% {
            transform: translateX(100%) scaleX(-1) translateY(-30vh);
        }
    }

    @keyframes swim3 {
        0% {
            transform: translateX(100%) scaleX(-1) translateY(100%);
        }

        20% {
            transform: translateX(-10vw) scaleX(-1) translateY(-10vh);
        }

        40% {
            transform: translateX(-30vw) scaleX(-1) translateY(30vh);
        }

        60% {
            transform: translateX(-10vw) scaleX(-1) translateY(-20vh);
        }

        80% {
            transform: translateX(100%) scaleX(-1) translateY(40vh);
        }

        100% {
            transform: translateX(100%) scaleX(-1) translateY(-30vh);
        }
    }

    @keyframes swim4 {
        0% {
            transform: translateX(-100%) scaleX(1) translateY(-100%);
        }

        20% {
            transform: translateX(10vw) scaleX(1) translateY(10vh);
        }

        40% {
            transform: translateX(30vw) scaleX(1) translateY(-30vh);
        }

        60% {
            transform: translateX(10vw) scaleX(1) translateY(20vh);
        }

        80% {
            transform: translateX(-100%) scaleX(1) translateY(-40vh);
        }

        100% {
            transform: translateX(-100%) scaleX(1) translateY(30vh);
        }
    }


}

/* Adjust styles for mobile devices */
@media screen and (max-width: 576px) {


    body {
        font-size: 0.9rem;
    }

    .navbar {
        padding: 0.25rem 0.5rem;
    }

    .navbar_items li:not(:first-child) {
        margin-left: 0.5rem;
    }

    .navbar_items img,
    .game_bar img {
        width: 3rem;
        height: 3rem;
    }

    .navbar_items li {
        font-size: 2rem;
    }

    .navbar_items {
        width: 7rem;
    }

    .main_title {
        font-size: 4rem;
    }

    #pause-button,
    #resume-button {
        width: 2.8rem;
        height: 2.8rem;
    }


    @keyframes swim1 {
        0% {
            transform: translateX(-110%) scaleX(1) translateY(-90%);
        }

        20% {
            transform: translateX(10vw) scaleX(1) translateY(10vh);
        }

        40% {
            transform: translateX(30vw) scaleX(1) translateY(-30vh);
        }

        60% {
            transform: translateX(10vw) scaleX(1) translateY(20vh);
        }

        80% {
            transform: translateX(-110%) scaleX(1) translateY(-40vh);
        }

        100% {
            transform: translateX(-110%) scaleX(1) translateY(30vh);
        }
    }

    @keyframes swim2 {
        0% {
            transform: translateX(110%) scaleX(-1) translateY(110%);
        }

        20% {
            transform: translateX(-10vw) scaleX(-1) translateY(-10vh);
        }

        40% {
            transform: translateX(-30vw) scaleX(-1) translateY(30vh);
        }

        60% {
            transform: translateX(-10vw) scaleX(-1) translateY(-20vh);
        }

        80% {
            transform: translateX(110%) scaleX(-1) translateY(40vh);
        }

        100% {
            transform: translateX(110%) scaleX(-1) translateY(-30vh);
        }
    }

    @keyframes swim3 {
        0% {
            transform: translateX(110%) scaleX(-1) translateY(110%);
        }

        20% {
            transform: translateX(-10vw) scaleX(-1) translateY(-10vh);
        }

        40% {
            transform: translateX(-30vw) scaleX(-1) translateY(30vh);
        }

        60% {
            transform: translateX(-10vw) scaleX(-1) translateY(-20vh);
        }

        80% {
            transform: translateX(110%) scaleX(-1) translateY(40vh);
        }

        100% {
            transform: translateX(110%) scaleX(-1) translateY(-30vh);
        }
    }

    @keyframes swim4 {
        0% {
            transform: translateX(-110%) scaleX(1) translateY(-110%);
        }

        20% {
            transform: translateX(10vw) scaleX(1) translateY(10vh);
        }

        40% {
            transform: translateX(30vw) scaleX(1) translateY(-30vh);
        }

        60% {
            transform: translateX(10vw) scaleX(1) translateY(20vh);
        }

        80% {
            transform: translateX(-110%) scaleX(1) translateY(-40vh);
        }

        100% {
            transform: translateX(-110%) scaleX(1) translateY(30vh);
        }
    }

}