/* global  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

body {
    font-size: 1.5rem;
    font-family: 'Gluten', cursive;
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('../images/backfish.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(142, 235, 249);
}

/* ------ navigation ------ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar_items {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.navbar_items li:not(:first-child) {
    margin-left: 1.9rem;
}

.navbar_items li {
    display: inline-block;
    border-radius: 2rem;
    font-size: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_items li:hover {
    transform: scale(1.1);
}

/* Game mode Bar */
.game_bar {
    display: flex;
    align-items: center;
    position: relative;
}

.timer_cn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer_cn span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.timer_cn img {
    width: 3rem;
}


.sound_icon {
    width: 3rem;
    top: -0.4rem;
    right: 0;
    position: relative;
    cursor: pointer;
}



.score_cn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.score_cn span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.score_cn img {
    width: 3rem;
}

/* pause  */

#pause-button,
#resume-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;

}

#pause-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#pause-button:hover,
#resume-button:hover {
    transform: scale(1.1);
}


/* ----- main ----- */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.main_block {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_play {
    padding-top: 3rem;
    width: 7rem;
}

.btn_play:hover {
    transform: scale(1.1);
}

.main_title {
    font-family: 'Gluten', cursive;
    font-size: 6rem;
    color: rgb(85, 212, 224);
    font-weight: 800;
    -webkit-text-stroke: 1px #0b7484;
}

/* rules  */

.rules_section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.rules_section.show {
    display: flex;
}


.rules_close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}


.rules_content {
    background: rgb(143, 222, 226);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.rules_content--title {
    font-size: 24px;
    margin-bottom: 20px;
}

.rules_content--howtoplay {
    font-size: 18px;
    font-family: 'Questrial', sans-serif;

}


.rules_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.rules_overlay.show {
    display: block;
}


#rules-link {
    cursor: pointer;
}

#rules-link:hover {
    text-decoration: underline;
    color: #0099cc;

}

.rules_close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.rules_close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* modal  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    font-family: 'Questrial', sans-serif;
    background-color: #86e4d4;
    margin: 15% auto;
    padding: 30px;
    border: 2px solid #16616e;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


#continue-button {
    background-color: #088480;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#continue-button:hover {
    transform: scale(1.1);
}

#home-button {
    background-color: #7b1d16;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#home-button:hover {
    transform: scale(1.1);
}


/* game area  */
.game_section.bg-active {
    background-image: url("../images/fishplay.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* fish style  */

.fish {
    width: 70px;
    height: 70px;
    background-image: url('../images/fishgame.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    animation-name: swim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes swim {
    0% {
        transform: translate(0, 0);

    }

    25% {
        transform: translate(10px, 5px);

    }

    50% {
        transform: translate(-10px, -5px);

    }

    75% {
        transform: translate(5px, 10px);

    }

    100% {
        transform: translate(0, 0);

    }
}